<section>
    <form [formGroup]="formulario">
        <h3>
          Experiencia Laboral:
        </h3>
        <div formArrayName="experienciaLaboral">
            <div *ngFor="let trabajo of experienciaLaboral.controls; let i = index;">
                <app-input [inputConfig]="textConfig1">

                </app-input>
                <app-input [inputConfig]="textConfig2">

                </app-input>
                <app-input [inputConfig]="textAreaConfig">

                </app-input>
                <hr />
                
                <button (click)="borrarTrabajo(i)">Borrar</button>
          </div>
          <button (click)="anadirExperienciaLaboral()">
            + Añadir
          </button>
        </div>
      </form>
</section>